@use "sass:math";
@import "../../media-queries.scss";

// VARIABLES
$color-bg: #FBF6F4;
$color-primary: #D36524;
$color-secondary: #622F60;
$color-accent: #ff6600;
$color-border: #E0D9E0;
$radius-xl: 24px;
$radius-pill: 208px;


// FUNCIONES
@function rem($px) {
  @return math.div($px, 16) * 1rem;
}

// MIXINS
@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin rounded-input($border-color) {
  width: 100%;
  height: rem(48);
  border-radius: $radius-pill;
  border: 1px solid $border-color;
}

@mixin clickable-hover($color) {
  &:hover {
    color: $color;
    stroke: $color;
    fill: $color;
    cursor: pointer;
  }
}

@mixin tooltip-base {
  position: relative;
  display: inline-block;

  .tooltiptext {
    visibility: hidden;
    opacity: 0;
    width: rem(120);
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: rem(5);
    padding: rem(5);
    position: absolute;
    z-index: 1;
    transition: opacity 0.3s;
    left: 50%;
    margin-left: rem(-60);
    bottom: 125%;
  }

  &:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
}

@mixin tablet {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 480px) {
    @content;
  }
}

.filters {
  background-color: $color-bg;
  border-radius: $radius-xl;

  .filter__section {
    padding: rem(24) rem(12) 0 rem(24);

    &.open .filter__options {
      display: block;
    }

    .filter__header {
      @include flex-between;
      font-weight: 600;
      cursor: pointer;

      @include clickable-hover($color-accent);

      span {
        display: flex;
        align-items: center;

        &.active {
          color: $color-primary;
        }
      }

      .arrow-icon {
        font-size: rem(16);
        transition: transform 0.3s ease;

        &.down {
          transform: rotate(90deg);
        }

        &.right {
          transform: rotate(0);
        }
      }
    }

    .filter__options {
      display: none;
      padding-bottom: rem(12);

      .filter__option {
        margin: rem(12) 0;

        i {
          font-size: rem(10);
        }
      }
    }

    .filter__range {
      @include rounded-input($color-secondary);

      input {
        @include rounded-input($color-secondary);
        padding-left: rem(50);
      }
    }
  }
}

.filter__title {
  @include flex-between;
  padding: rem(16) rem(24);
  border-bottom: 1px solid $color-border;
  font-weight: 700;
  font-size: rem(18);
  text-align: center;

  h5 {
    padding: rem(12) 0;
  }

  button {
    border: none;
    background: transparent;
    font-size: rem(32);
    margin-top: rem(-20);
  }
}

input[type="checkbox"]:checked {
  accent-color: red;
}


.showFilters {
  width: rem(152);
  height: rem(40);
  font-size: rem(20);
  font-weight: 600;
  padding: rem(8) rem(14);
  border-radius: $radius-pill;
  background-color: #FAF7F5;
  border: 1px solid rgba(98, 47, 96, 0.16);
  margin-top: rem(-22);
  line-height: 0.5;
}


.filter__table--dontshow,
.filter__small--dontshow,
.filter__large--dontshow {
  display: none !important;
}


.tooltip {
  @include tooltip-base;
}

@include tablet {
  .filters {
    border-radius: 0;
    height: 200vh;
    margin: -242px -50px;
    position: relative;
  }

  .filter__title {
    @include flex-between;
  }

  .filter__table--show {
    display: block !important;
  }

  .showFilters {
    margin-top: -42px;
  }
}

@include mobile {
  .buttonBox {
    @include flex-between;
    margin: rem(70) 0;
  }

  .filters {
    border-radius: 0;
    width: 108%;
    height: 200vh;
    margin: -850px -20px;
  }
}
